In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Users\\himan\\OneDrive\\Desktop\\csv\\Machine Learning\\Advertising.csv", index_col = 0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [4]:
df.drop(columns = ["newspaper"],inplace=True)

In [5]:
df.describe()

               TV       radio       sales
count  200.000000  200.000000  200.000000
mean   147.042500   23.264000   14.022500
std     85.854236   14.846809    5.217457
min      0.700000    0.000000    1.600000
25%     74.375000    9.975000   10.375000
50%    149.750000   22.900000   12.900000
75%    218.825000   36.525000   17.400000
max    296.400000   49.600000   27.000000

# Multiple linear regression

In [6]:
feature_cols = ['TV','radio'] # since we are doing simple linear regression, I have taken only one feature 
x = df[feature_cols]
y = df.sales

In [ ]:
from sklearn import model_selection as ms
xtrain,xtest,ytrain,ytest = ms.train_test_split(x,y,)

In [ ]:
from sklearn import model_selection as ms
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 42)